<!DOCTYPE html>
<html lang = "el">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="author" content="Konstantina Souvatzidaki, 3170149">
        <meta name="description" content="a page to search book information with the Penguin Random House web api">
        <meta name="keywords" content="university,webdev,aueb,fetch api, nodejs">
        <title>Penguin Random House</title>
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <script src="static/js/favorites_list.js" type="text/javascript"> </script>
    </head>
    <body>

        <header class="top">
            <h1>AUEB Bookstore</h1>
            <a href="../">Πίσω στην Αρχική</a>
        </header>
        
        <main>
            {{{body}}}
        </main>

    </body>
</html>