/*font*/
/* greek */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCv6KVjbNBYlgoC1Czjs2yNL4U.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCv6KVjbNBYlgoC1CzjsGyN.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    background: #000000 url("../res/bg.jpg");
    background-size:cover;
    font-size:15px;
    word-wrap: break-word;
    font-family: 'Ubuntu', sans-serif;
    margin:0;
}

.top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin:0;
    padding:25px;
    background-color:#6e524c;
    color:#fffbf7;
}
.top h1 {
    letter-spacing:2px;
}
.top * {
    margin:0;
}
.top nav {
    margin-top: 10px;
}
.top a, input[type=submit], form.info input[type=button]{
    background-color: #fcf0e4 ;
    color:#9c745a;
    border: solid 2px #5e443f;
    padding:10px;
    text-decoration: none;
    font-weight: bold;
}
.top a:hover , input[type=submit]:hover, form.info input[type=button]:hover{
    background-color: #352825;
}

.panel {
    background-color: #835f53;
    padding: 20px; 
    margin:20px;
    text-align: center;
    border-radius: 20px;
    border: solid 3px #5f4641;
    color:#f8f1e9; 
}
.panel h1 {
    color:#ffffff;
    font-size:38px;
}

#searchbar, #filterbar {
    border:solid #41302d 1px;
    border-radius: 10px;
    width:50%;
    height: 30px;
    background:#f8f1e9;
}


article h2{
    padding-left: 25px; 
    color: #251c1a;
}

section.work {
    background-color: #debd99;
    padding: 20px; 
    margin:20px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 20px;
    border: solid 3px #5f4641;
}

section.work form *{
    padding:25px;
    margin:23px;
    background-color: #835f53;
    border-radius: 20px;
    border: solid 3px #5f4641;
    color:#f8f1e9; 
    font-size:16px;
}

section.work form *:hover{
    background-color: #352825;
}

.info {
    display:flex;
    flex-direction: column;
    padding: 20px; 
    margin:20px;
    background-color: #debd99;
    border-radius: 20px;
    border: solid 3px #5f4641;
}

.work ul{
    max-width: 70%;
    list-style: none;
    color: #251c1a;
    font-size: 18px;
    letter-spacing:1px;
}
.title {
    font-size: 25px;
    font-weight: bold;
}
.comment {
    padding-top: 15px;
    font-weight: bold;
}


form.info input{
    padding:10px;
    margin:10px;
    border:solid #41302d 1px;
    border-radius: 10px;
    background:#f8f1e9 ;
}
form.info label{
    margin:10px;
    font-size: 20px;
    font-weight: bold;
}
form.info input[type=button] {
    width:20%;
    align-self: center;
}

