<header class="panel">
    <h1>Επεξεργασία του έργου με Κωδικό: {{workid}} </h1>
</header>

<article>
    <form class="info"> 
        <label for="title">Τίτλος Έργου</label>
        <input name="work_title" id="title" value="title">

        <label for="author">Συγγραφέας Έργου</label>
        <input name="work_author" id="author" value="author">

        <label for="comment">Σχόλιο</label>
        <input name="work_comment" id="comment" value="comment">

        <input type="button" class="submit_edit" value="Αποθήκευση Αλλαγών">
    </form>
</article>